
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$DarkerViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$LighterGray: hsl(0, 0%, 98%);
$textPrimary : hsl(0, 0%, 0%);;
$textSecondary : hsl(0, 0%, 100%);;